.about {
    border-top: 1px solid #bfced8;
    padding-top: 6rem;
    padding-bottom: 6rem;
    
}

.aboutBox {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content:space-between;
    align-items: start;
    align-content: center;
    margin-left: 28rem;
    margin-right: 28rem;
    gap: 4rem;
    
}

.header {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content:start;
    align-items: center;
    align-content: center;
    gap: 2rem;
    border-top: 2px solid black;
    padding-top: 1rem;
    width: 14rem;
    position: -webkit-sticky;
    position: sticky;
    top: 7rem;
    
}

.profilePicture {
    width: 14rem;
    border-radius: 40px;
    border: 1px solid black;
    padding: 6px 6px;
}

.headerTitle {
    font-family: "Montserrat", sans-serif;
    font-size: 2.6rem;
    align-self: start;
    font-weight: 600;
    color: black;
}

.contentText {
    font-family: "Montserrat", sans-serif;
    font-size: 1.2rem;
    font-weight: 500;
    color: black;
    text-align: justify;
    line-height: 1.8rem;
}

.content {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content:start;
    align-items: center;
    align-content: center;
    margin-left: 8rem;
    gap: 2rem;
}

.boldText {
    font-family: "Montserrat", sans-serif;
    font-size: 1.2rem;
    font-weight: 600;
    color: black;
    text-align: justify;
    line-height: 1.8rem;
}