.description {
    display:flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    align-content: center;
    text-align: justify;
    margin-top: 4rem;
    margin-bottom: 4rem;
    gap: 2rem;
    
}

.paragraph {
    font-family: 'Montserrat', sans-serif;
    color: black;
    font-weight: 500;
    text-decoration: none;
    font-size: 28px;
    line-height: 2.5rem;
    max-width: 48rem;
}

.anchor {
    color: black;
    font-weight: 600;
    text-decoration: none;
    border-bottom: 1px solid black;
    border-color: black;
}

.anchor:hover {
    color: #495a66;
}

.linkIcons {
    display:flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: start;
    align-items: center;
    align-content: center;
    gap:1.5rem;
}

.linkIcon {
    height: 45px;
    transition: transform 175ms ease-in-out;
}

.linkIcon:hover {
    transform: scale(1.3);
}

@media (max-width: 1199.98px) {
    .paragraph {
        font-size: 24px;
        line-height: 2.2rem;
    }
}

@media (max-width: 991.98px) {
    .paragraph {
        font-size: 21px;
        line-height: 2rem;
    }

    .description {
        margin-left: 5rem;
        margin-right: 5rem;
    }

}

@media (max-width: 575.98px) {
    .paragraph {
        font-size: 18px;
        line-height: 1.8rem;
        text-align: center;
    }

    .description {
        margin-left: 2rem;
        margin-right: 2rem;
        margin-top: 2rem;
        margin-bottom: 2rem;
    }

    .linkIcon {
        height: 32px;
        transition: transform 175ms ease-in-out;
    }
}