.experienceBox {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content:space-between;
    align-items: start;
    align-content: center;
    gap: 8rem;
    max-width: 60rem;
    width: 100%;
    
}

.headerExperience {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content:start;
    align-items: center;
    align-content: center;
    gap: 2rem;
    border-top: 2px solid black;
    padding-top: 1rem;
    width: 14rem;
    position: -webkit-sticky;
    position: sticky;
    top: 7rem;
}

.headerTitleExperience {
    font-family: "Montserrat", sans-serif;
    font-size: 45px;
    align-self: start;
    font-weight: 600;
    color: black;
}

.experienceContent {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content:start;
    align-items: start;
    align-content: center;
    gap:3rem;
    
}

.experienceItem {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content:start;
    align-items: center;
    align-content: center;
    gap: 2rem;
    border-bottom: solid 1px #bfced8;
    padding-bottom: 2rem;
    width:28rem
}

.experienceIcon {
    width: 4rem;
}

.experienceTitle {
    font-family: "Montserrat", sans-serif;
    font-size: 20px;
    font-weight: 600;
    color: black;
    text-align: justify;
}

.experienceSubtitle {
    font-family: "Montserrat", sans-serif;
    font-size: 18px;
    font-weight: 500;
    color: black;
    text-align: justify;
    line-height: 2rem;
}

.experienceYears {
    font-family: "Montserrat", sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: black;
    text-align: justify;
    line-height: 2rem;
}

@media (max-width:1199.98px) {
    .experienceBox {
        margin-left: 8rem;
        margin-right: 8rem;
    }

    .headerExperience  {
        width:12rem;
    }

    .headerTitleExperience {
        font-size: 35px;
    }

    .experienceItem {
        width: 26rem;
    }
}

@media (max-width:991.98px) {
    .experienceBox {
        margin-left: 4rem;
        margin-right: 4rem;
        gap: 4rem;
    }

    .experienceItem {
        width: 21rem;
    }

    .experienceIcon {
        width: 3.5rem;
    }

    .experienceTitle {
        font-size: 18px;
        text-align: start;
        line-height: 1.6rem;
    }

    .experienceSubtitle {
        font-size: 16px;
        text-align: start;
        line-height: 1.4rem;
    }

    .experienceYears {
        font-size: 14px;
        text-align: start;
    }

    .headerExperience {
        width:10rem;
    }

    .headerTitleExperience {
        font-size: 35px;
    }
}

@media (max-width: 767.98px) {
    .headerTitleExperience {
        font-size: 28px;
    }
    .experienceItem {
        width: 14rem;
        gap: 1.4rem;
    }

    .experienceSubtitle {
        font-size: 14px;
        
    }

    .experienceTitle {
        font-size: 16px;
        
    }

}

@media (max-width:575.98px) {
    .experienceBox {
        flex-direction: column;
        align-items: center;
        gap: 3rem;
        margin-left: 2rem;
        margin-right:2rem;
    }

    .experienceItem {
        width: 17rem;
        gap: 1.4rem;
    }

    .experienceSubtitle {
        font-size: 14px;
        
    }

    .experienceTitle {
        font-size: 16px;
        
    }

    .headerExperience {
        justify-content: center;
        position: static
    }
}