.experienceBox {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content:space-between;
    align-items: start;
    align-content: center;
    margin-left: 10rem;
    margin-right: 10rem;
    gap: 8rem;
    

}

.experienceContent {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content:start;
    align-items: start;
    align-content: center;
    gap:3rem;
    
}



.experienceItem {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content:start;
    align-items: center;
    align-content: center;
    gap: 2rem;
    border-bottom: solid 1px #bfced8;
    padding-bottom: 2rem;
    width:28rem
}

.experienceIcon {
    width: 4rem;
}

.experienceTitle {
    font-family: "Montserrat", sans-serif;
    font-size: 1.2rem;
    font-weight: 600;
    color: black;
    text-align: justify;
}

.experienceSubtitle {
    font-family: "Montserrat", sans-serif;
    font-size: 1.1rem;
    font-weight: 500;
    color: black;
    text-align: justify;
    line-height: 2rem;
}

.experienceYears {
    font-family: "Montserrat", sans-serif;
    font-size: 1rem;
    font-weight: 400;
    color: black;
    text-align: justify;
    line-height: 2rem;
}

@media (max-width: 1199.98px) {
    .experienceBox {
        flex-direction: column;
        justify-content:center;
        gap: 4rem;
        margin-left: 8rem;
        margin-right: 8rem;
        align-items: center;
    }
}

    