.footer {
    background-color: #fff3eb;
    height: 8rem;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content:space-around;
    align-items: center;
    align-content: center;
}

.copyright {
    font-family: "Montserrat", sans-serif;
    font-weight:600;
    font-size: 1.2rem;
    text-decoration: none;
    color: black;
}

.copyrightLogo {
    height: 0.9rem;
}

.linkIconFooter {
    height: 2rem;
    transition: transform 175ms ease-in-out;
}

.linkIconFooter:hover {
    transform: scale(1.2);
}