.footer {
    background-color: #fff3eb;
    height: 8rem;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content:space-around;
    align-items: center;
    align-content: center;
}

.copyright {
    font-family: "Montserrat", sans-serif;
    font-weight:600;
    font-size: 18px;
    text-decoration: none;
    color: black;
}

.copyrightLogo {
    height: 0.9rem;
}

.linkIconFooter {
    height: 2rem;
    transition: transform 175ms ease-in-out;
}

.linkIconFooter:hover {
    transform: scale(1.2);
}

@media (max-width:1199.90px) {
    .copyright {
        font-size: 16px;
    }

    .linkIconFooter {
        height: 1.7rem;
    }

    .copyrightLogo {
        height: 0.8rem;
    }
}

@media (max-width: 575.98px) {
    .copyright {
        font-size: 14px;
    }

    .linkIconFooter {
        height: 1.5rem;
    }

    .footer {
        flex-direction: column;
        justify-content: center;
        gap: 1rem;
        height: 7rem;
    }

    .copyrightLogo {
        height: 0.6rem;
    }
}