.hero {
    background-color: #fff3eb;
    display:flex;
    flex-direction: column;
    flex-wrap: nowrap;
    
    align-items: center;
    align-content: center;
    
    padding-top: 10rem;
    padding-bottom: 6rem;
}

.title {
    font-family: "Montserrat", sans-serif;
    font-size: 50px;
    text-align: left;
    font-weight: 600;
    color: black;
}

.subtitle {
    font-family: "Montserrat", sans-serif;
    font-size: 50px;
    text-align: left;
    font-weight: 500;
    color: black;
}

@media (max-width:767.98px) {
    .title {
        font-size: 32px;
    }

    .subtitle {
        font-size: 32px;
    }
}

@media (max-width:575.98px) {
    .title {
        font-size: 28px;
    }

    .subtitle {
        font-size: 28px;
    }
}