.work {
    border-top: 1px solid #bfced8;
    padding-top: 6rem;
    padding-bottom: 6rem;
    display: flex;
    justify-content: center;
}

.workBox {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content:space-between;
    align-items: start;
    align-content: start;
    gap:8rem;
    max-width: 60rem;
    width: 100%;
    
}

.headerWork {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content:start;
    align-items: center;
    align-content: center;
    gap: 2rem;
    border-top: 2px solid black;
    padding-top: 1rem;
    width: 14rem;
    position: -webkit-sticky;
    position: sticky;
    top: 7rem;
}

.headerWorkTitle {
    font-family: "Montserrat", sans-serif;
    font-size: 2.6rem;
    align-self: start;
    font-weight: 600;
    color: black;
}

.projects {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content:space-between;
    align-items: center;
    align-content: center;
    gap:4rem;
    
}

.project {
    width: 32rem;
    display:flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    text-decoration: none;
    align-content: center;
    gap: 0.8rem;
    
}

.arrow {
    width: 1.4rem;
    transition: transform 0.3s ease-out, filter 0.3s ease-out;
}

.project:hover .projectImage {
    transform: rotate(2deg);
    transition: transform 0.3s ease; 
}

.project:hover .arrow {
    transform: translateX(0.8rem);
    transition: transform 0.3s ease; 
}   

.projectImage {
    width: 32rem;
    border-radius: 15px;
    transition: transform 0.3s ease-out, filter 0.3s ease-out;
}

.projectDescription {
    font-family: "Montserrat", sans-serif;
    font-size: 1.3rem;
    align-self: start;
    
    font-weight: 400;
    color: black;
    text-decoration: none;
}

.projectTitle {
    font-family: "Montserrat", sans-serif;
    font-size: 1.5rem;
    align-self: start;
    font-weight: 500;
    color: black;
    display:flex;
    align-items: center;
    align-content: center;
    gap: 0.5rem;
    text-decoration: none;
}

@media (max-width:1199.98px) {
    .workBox {
        margin-left: 8rem;
        margin-right: 8rem;
    }

    .headerWorkTitle {
        font-size: 35px;
    }

    .projectImage {
        width: 26rem;
    }

    .project {
        width: 26rem;
    }

    .headerWork {
        width: 12rem;
    }
}

@media (max-width: 991.98px) {
    .workBox {
        margin-left: 4rem;
        margin-right: 4rem;
        gap: 4rem;
    }

    .projectImage {
        width: 21rem;
    }

    .project {
        width: 21rem;
    }

    .projectTitle {
        font-size: 21px;
    }
    .projectDescription {
        font-size: 18px;
    }

    .projects {
        gap: 3rem;
    }

    .arrow {
        width:1.2rem;
    }

    .headerWork {
        width: 10rem;
    }
}

@media (max-width: 767.98px) {
    .project {
        width: 14rem;
    }
    .projectImage {
        width: 14rem;
    }
    .headerWorkTitle {
        font-size: 28px;
    }

    .projectDescription {
        font-size: 16px;
    }

    .projectTitle {
        font-size: 18px;
    }
}

@media (max-width: 575.98px) {
    .workBox {
        flex-direction: column;
        align-items: center;
        gap: 2rem;
        margin-left: 2rem;
        margin-right: 2rem;
    }

    .work {
        padding-top: 3rem;
        padding-bottom: 3rem;
    }

    .headerWork {
        justify-content: center;
        position: static
    }
    .headerWorkTitle {
        align-self: center;
    }

    .projectDescription {
        text-align: center;
    }

    .projectTitle {
        text-align: center;
        align-self: center;
    }

    .arrow {
        width:1rem;
    }
}